extends layout

block content
  .row
    header
      h1 
        img.logo(src="https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/17757567_1072621532882989_8942534966762986955_n.png?oh=df207c221f034e0e2ba9a82f79c661e8&oe=5AE3F885")
        | GEM
      h6 Grupo Estudiantil de Matemática - Facultad de Ciencias #{title}
    hr
  .rowc
    nav.three.columns
      h5 Exámenes
      ul.navbar
        li
          a.item(target="_blank", href='https://www.google.com.pe/') Exámenes
        li
          a.item(href='#') Quick start
        li
          a.item(href='#') Upgrade
          li
            a.item(href='/add-book') Agregar libro
    .content.nine.columns
      .news
        h1 News
        hr
        .row
          -for (var i = 0; i < data.length; i++) {
            .post.three.columns
              a(target="_blank", href=data[i].ciclo) #{data[i].ciclo}
              p Title: #{data[i].title}
              p Autor: #{data[i].author}
              p Escuela: #{data[i].school} 
          -}
      .changes
        p 6 August 2017
        p Version 2.1.5 released
          | (
          a(href='#') Changes
          | )
      .about
        h3 What is Cadabra?
        hr
        p Cadabra is a symbolic computer algebra system (CAS) designed specifically for the solution of problems encountered in field theory. It has extensive functionality for tensor computer algebra, tensor polynomial simplification including multi-term symmetries, fermions and anti-commuting variables, Clifford algebras and Fierz transformations, component computations, implicit coordinate dependence, multiple index types and many more. The input format is a subset of TeX. Both a command-line and a graphical interface are available.
      .history
        h3 History
        hr 
        table
          tr
            th Twitter
            td https://twitter.com
          tr
            th Email
            td casdasda
          tr
            th Teléfondo
            td 1515
  .row    
    .footer
      p Copyright 2012-2018 design by NodeJS Group gem@uni.edu.pe
        a(href='#') Freider
